<!DOCTYPE html>
<html>
<head>
	<title>Ryo Photography</title>
		<meta content="Ryo" name="author">
		<meta content="text/html; charset=ISO-8859-1"
 		http-equiv="content-type">
  	<link rel="stylesheet" type="text/css" href="minimalist.css">
</head>
<body>
<div id="SectionImage"><img src="Ryo.jpg"></div>
<h1>About Me</h1>
<p>I am a
nineteen-year-old student currently studying in Tunku Abdul Rahman
College, Malaysia, taking up a Cambridge A-Levels programme.</p>
<p>Born in a small town in Sungai
Petani (Kedah), I have ventured into photography
since the age of fifteen - starting my dream with a point-and-shoot
BenQ
c850. I later acquired a Panasonic Lumix FZ-5 when I was seventeen,
replacing
my initial
camera.
</p>
<p>Though I am pursuing a future
career as an actuary, photography has been, and will always be, my
passion. I currently work as a freelance photographer and designer.</p>
</body>
</html>