<!DOCTYPE html>
<html>
<head>
	<title>Ryo Photography</title>
		<meta content="Ryo" name="author">
		<meta content="text/html; charset=ISO-8859-1"
 		http-equiv="content-type">
  	<link rel="stylesheet" type="text/css" href="minimalist.css">
</head>
<body>
<div id="SectionImage"><img src="Swing.jpg"></div>
<h1>Contact</h1>
<p>You can reach me by: </p>
<p>&middot; Facebook: <a href="https://www.facebook.com/RuiYou">Ryo
Helmenkalastaja</a>
</p>
<p>&middot; Email:
ruiyouho@gmail.com
</p>
<p>
&middot; Phone: +44 79 2203 2783
</body>
</html>