<!DOCTYPE html>
<html>
<head>
	<title>Ryo Photography</title>
		<meta content="Ryo" name="author">
		<meta content="text/html; charset=ISO-8859-1"
 		http-equiv="content-type">
  	<link rel="stylesheet" type="text/css" href="minimalist.css">
</head>
<body>
<div id="MainImage">
<img src="Main.jpg">
</div>
</body>
</html>
