<!DOCTYPE html>
<html>
<head>
	<title>Ryo Photography</title>
		<meta content="Ryo" name="author">
		<meta content="text/html; charset=ISO-8859-1"
 		http-equiv="content-type">
  	<link rel="stylesheet" type="text/css" href="minimalist.css">
</head>
<body>
<div align=center>
	<div id="Wrap">
		<div id="Navbar">
			<a href="/">Home</a><br>
			<a href="/about">About</a><br>
			<a href="/portfolio">Portfolio</a><br>
			<a href="/services">Services</a><br>
			<a href="/contact">Contact</a>
		</div>
	<div id="Separator">
	</div>
		<div id="Yield">
			<%= yield %>
		</div>
		<div id="Footer">
		Web development by <b><a href="http://fb.com/RuiYou">Ryo Helmenkalastaja</a></b> &middot; Optimized for <a href="https://www.google.com/chrome/index.html">Google
		Chrome</a>
		</div>
</div>
</body>
</html>