<!DOCTYPE html>
<html>
<head>
	<title>Ryo Photography</title>
		<meta content="Ryo" name="author">
		<meta content="text/html; charset=ISO-8859-1"
 		http-equiv="content-type">
  	<link rel="stylesheet" type="text/css" href="minimalist.css">
</head>
<body>
<iframe
 src="http://www.flickr.com/slideShow/index.gne?group_id=&amp;user_id=52001128@N07&amp;set_id=72157629517281221&amp;text="
 align="middle" frameborder="0" height= "550px" scrolling="no" width="100%"></iframe>
 </body>
 </html>