<!DOCTYPE html>
<html>
<head>
	<title>Ryo Photography</title>
		<meta content="Ryo" name="author">
		<meta content="text/html; charset=ISO-8859-1"
 		http-equiv="content-type">
  	<link rel="stylesheet" type="text/css" href="minimalist.css">
</head>
<body>
<div id="SectionImage"><img src="Cam.jpg"></div>
<h1>Services</h1>
<p>As a freelancer, I provide
a few services - model and event photography, designing, and a little
bit of web
design, all for an affordable price.</p>
<p>I am open to suggestions and
critiques, and am willing to meet new people or to venture into new
grounds.
</p>
<p>For more of my past designing
and photography works, please check
out my <a href="https://www.facebook.com/RuiYou">Facebook page</a>.
</p>
</body>
</html>